<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= homeContent %> </p>

<% homePosts.forEach(function(homePost) { %>

<h1><%= homePost.title %></h1>
<p><%= homePost.content.substr(0,100) +  " ..." %>
  <a href="/posts/<%=homePost.title %>">Read More</a></p>

<% }) %>

<%- include("partials/footer"); -%>
